/* Layout color for all pages */
/* https://coolors.co/palette/000000-14213d-fca311-adb5bd-e5e5e5-ffffff */
/* https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */

.navbar {
    background-color: #14213D;
}

body {
    background-color: #000000;
}

p,
i,
li,
label {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FCA311;
}

a {
    color: #ADB5BD;
}

/* Blur animation for logo */
.blur-in-250ms {
    animation: blur-in 250ms linear;
}

@keyframes blur-in {
    0% {
        filter: blur(10px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

/* Pixel web font */
@font-face {
    font-family: pixerFont;
    src: url(../dl/pixer.woff2);
}

.navbar-brand {
    font-family: pixerFont;
}