---
layout: default-no-js
layoutPath: ../
---

<!-- {% include jquery-min.html %} -->
{% include bootstrap-icons.html %}

<style>
    #canvas {
        /*
        padding: 0;
        margin: 0;
        border: 1px solid white;
        position:absolute;*/
        background-color: #708090;
    }
</style>


<h1>Javascript physics engine</h1>
<p>
    Still have some bugs - Have to work with resizing for mobile applications
</p>
<p>
    I've used the Box2D javascript import from C++. You can find more information here: <a
        href="http://box2d.org/">http://box2d.org/</a>
</p>
<br />
<div class="alert alert-warning d-lg-none" role="alert">
    <div>
        ⚠️ <b>Attention:</b> You need a bigger display size to run the simulator properly
        <button type="button" class="btn btn-sm btn-danger">I don't care</button>
    </div>
</div>
<div class="card bg-dark border-secondary d-none d-lg-block">
    <h5 class="card-title text-light mx-3 mt-4">Settings</h5>
    <div class="card-body">
        <label class="radio-inline control-label">
            <i class="bi bi-columns-gap"></i> <i>Drop type:</i>
        </label>
        <label class="radio-inline"><input type="radio" value="0" name="dropType" checked="checked"> Circle</label>
        <label class="radio-inline"><input type="radio" value="1" name="dropType"> Squares</label>
        <br />
        <label class="radio-inline control-label">
            <i class="bi bi-fuel-pump"></i> <i>Drop quantity:</i>
        </label>
        <label class="radio-inline"><input type="radio" value="1" name="dropQuantity" checked="checked"> Single drop
            <span class="badge badge-light">1</span></label>
        <label class="radio-inline"><input type="radio" value="5" name="dropQuantity"> Multi drop <span
                class="badge badge-light">5</span></label>
        <label class="radio-inline"><input type="radio" value="15" name="dropQuantity"> Super drop <span
                class="badge badge-light">15</span></label>
        <label class="radio-inline"><input type="radio" value="35" name="dropQuantity"> Ultra drop <span
                class="badge badge-light">35</span></label>
        <label class="radio-inline"><input type="radio" value="50" name="dropQuantity"> Insane drop <span
                class="badge badge-light">50</span></label>
        <br />
        <label class="radio-inline control-label">
            <i class="bi bi-globe-americas"></i> <i>Change World:</i>
        </label>
        <button type="button" class="btn btn-light btn-sm" onclick="setupNextWorld()">Next</button>
        <br />
        <br />
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <canvas id="canvas" class="border-dark" width="800" height="500"></canvas>
            </div>
        </div>
        <br />
    </div>
</div>
<br />

<script>
    document.querySelectorAll('.btn-danger').forEach(function (button) {
        button.addEventListener('click', function () {
            document.querySelectorAll('.alert-warning').forEach(function (alert) {
                alert.classList.remove('d-lg-none');
                alert.classList.add('d-none');
            });
            document.querySelectorAll('.card').forEach(function (card) {
                card.classList.remove('d-none');
            });
        });
    });
</script>

<script src="../assets/js/box2d/lib/prototype-1.6.0.2.js"></script>

<script src="../assets/js/box2d/js/box2d/common/b2Settings.js"></script>
<script src="../assets/js/box2d/js/box2d/common/math/b2Vec2.js"></script>
<script src="../assets/js/box2d/js/box2d/common/math/b2Mat22.js"></script>
<script src="../assets/js/box2d/js/box2d/common/math/b2Math.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2AABB.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2Bound.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2BoundValues.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2Pair.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2PairCallback.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2BufferedPair.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2PairManager.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2BroadPhase.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2Collision.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/Features.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2ContactID.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2ContactPoint.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2Distance.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2Manifold.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2OBB.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/b2Proxy.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/ClipVertex.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/shapes/b2Shape.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/shapes/b2ShapeDef.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/shapes/b2BoxDef.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/shapes/b2CircleDef.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/shapes/b2CircleShape.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/shapes/b2MassData.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/shapes/b2PolyDef.js"></script>
<script src="../assets/js/box2d/js/box2d/collision/shapes/b2PolyShape.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/b2Body.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/b2BodyDef.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/b2CollisionFilter.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/b2Island.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/b2TimeStep.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/contacts/b2ContactNode.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/contacts/b2Contact.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/contacts/b2ContactConstraint.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/contacts/b2ContactConstraintPoint.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/contacts/b2ContactRegister.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/contacts/b2ContactSolver.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/contacts/b2CircleContact.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/contacts/b2Conservative.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/contacts/b2NullContact.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/contacts/b2PolyAndCircleContact.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/contacts/b2PolyContact.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/b2ContactManager.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/b2World.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/b2WorldListener.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2JointNode.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2Joint.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2JointDef.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2DistanceJoint.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2DistanceJointDef.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2Jacobian.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2GearJoint.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2GearJointDef.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2MouseJoint.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2MouseJointDef.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2PrismaticJoint.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2PrismaticJointDef.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2PulleyJoint.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2PulleyJointDef.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2RevoluteJoint.js"></script>
<script src="../assets/js/box2d/js/box2d/dynamics/joints/b2RevoluteJointDef.js"></script>
<script src="../assets/js/box2d/demos/demo_base.js"></script>
<script src="../assets/js/box2d/demos/top.js"></script>
<script src="../assets/js/box2d/demos/stack.js"></script>
<script src="../assets/js/box2d/demos/pendulum.js"></script>
<script src="../assets/js/box2d/demos/crank.js"></script>
<script src="../assets/js/box2d/demos/demos.js"></script>